li {
  color: #748CAB;
}

.alista {
  color: #748CAB;
  text-decoration-color: #748CAB;
  text-decoration:none;
}

.alista:visited {
  color: #748CAB;
  text-decoration-color: #748CAB;
  text-decoration:none;
}

.linkclickavel {
  color: #253f4e;
  text-decoration-color: #253f4e;
  text-decoration:none;
}

.navbarcor {
  color: #F0EBD8;
  text-decoration-color: #F0EBD8;
  text-decoration:none;
 
}

.navbarcor:visited {
  color: #F0EBD8;
  text-decoration-color: #F0EBD8;
  text-decoration:none;
  
}

body,ul{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1D2D44;
  padding: 15px 0;
  gap: 250px;
}

.navbar a:hover {
  color: #748CAB;
  background: #1D2D44;
}

.navbar a {
  text-decoration: none;
  color: #F0EBD8;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
}